<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Travel Reimbursement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Webapplication.styles.css" asp-append-version="true" />
    <style>
    </style>
</head>

<body>

    <style>
        .nav {
            position: static;
        }

        .dropdown {
            position: relative;
            right: 2rem;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 125px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            padding: 12px 16px;
            z-index: 1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown a {
            text-decoration: none;

            color: black;
        }
        .dropdown-toggle{
            text-decoration: none;
            background-color: black;
            color:white;
        }

    

       
    </style>
    <header>
        <div class="nav_bar">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
                style="background: rgb(8,8,8);
background: linear-gradient(90deg, rgba(8,8,8,1) 100%, rgba(36,111,207,1) 100%);">
                <div class="container-fluid">
                    <img src="../images/logo2.png" alt="logo" class="logo"
                        style="width: 45px; height: 45px; border-radius: 5px;">
                    <a class="navbar-brand text-light">Reimbursement</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Employee"
                                    asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Employee"
                                    asp-action="Create">Apply</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Employee"
                                    asp-action="Status">Status</a>
                            </li>
                            <div class="dropdown" id="logout" style="margin-left:76%;top:10px; color:#FFF ">
                               <button class=" dropdown-toggle" type="button" data-toggle="dropdown">@ViewBag.Message
                               <span class="caret"></span></button>
                                <div class="dropdown-content">
                                    <a asp-controller="Employee" asp-action="Profile" style="margin-top: 2rem;">My Profile</a>
                                    <br>
                                    <a asp-controller="Employee" asp-action="PutRemarks">Remarks</a>
                                    <a asp-controller="Login"  asp-action="LoginPage">Logout</a>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            @await RenderSectionAsync("Scripts", required: false)
        </main>
    </div>



</body>

</html>
