@{
    Layout="/Views/Shared/_userLayout.cshtml";
}
<style>
    .contact{
        margin-left: 30%;
        margin-top: 10%;
    }
</style>
<div class="contact">
    <img src="../images/aspire logo.png" alt="aspire logo" width="50" height="50">
<strong>Aspire Systems (India) Pvt. Ltd.</strong>
<br>
<img src="../images/location.png" alt="location" width="50" height="50">
<span>1/D-1, SIPCOT IT PARK</span>
<p style="margin-left: 3rem;">Siruseri, Chennai - 603 103</p>
<p style="margin-left: 3rem;">Tamil Nadu, India</p>
<p style="margin-left: 3rem;">Fax: +91-44-6740 4234</p>
</div>