@{
    Layout="/Views/Shared/_userLayout.cshtml";
}
<h1 style="text-align:center">PRIVACY POLICY</h1>
<p>Employee can apply reimbursement only for the accomodation, food, tickets only.
    If he/she has expenses that fall outside of the categories of accommodation, food, and tickets,
    they should consult their company's reimbursement policies or speak with their manager to determine if they are eligible for reimbursement.</p>
