@* @model Employee
@{
    ViewData["Title"]="Delete";
}
<form method="post">
    <p>
        <label asp-for="EmployeeID"> Enter your ID </label>
        <input asp-for="EmployeeID" placeholder="1001"/>
    </p>
    <p>
        <button type="submit" class="btn btn-info btn-lg">Delete</button>
    </p>
</form> *@