@model IEnumerable<Employees>
    
<!DOCTYPE html>
 <html>
<body background style="
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,54,121,1) 23%, rgba(11,205,246,1) 92%);">
 
<style>
img {
  width: 1000px;
  height: 500px;
}
</style>
<div class="text-center">
   <font color="white"><h1 class="display-4"><strong>Travel Reimbursement</strong></h1></font> 
    <img class="bg-img" src="../images/travel_reimburssement-.png" alt="Travel reimbursement">
</div>
</body>
</html>  