@* @model Employee
@{
    ViewData["Title"]="Delete";
}
<form method="post">
    <p>
        <label asp-for="EmployeeID"> Enter your ID </label>
        <input asp-for="EmployeeID" placeholder="1001"/>
    </p>
    <p>
        <label asp-for="Cost1"> Enter your Age</label>
        <input asp-for="Cost1"/>
    </p>
    <p>
        <button type="submit" class="btn btn-info btn-lg">Submit</button>
    </p>
</form> *@